.navigation-wrapper {
  background-color: gray;
  display: flex;
  height: 5rem;
  align-items: center;
}

.navigation-item {
  min-width: 10rem;
  max-width: 20rem;
  height: 70%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.navigation-item:nth-child(2) {
  border-left: 1px solid black;
}

.navigation-active {
  color: white;
}
