.big-user-box {
  height: 40vh !important;
  width: 40vw !important;
}

.big-user-name {
  font-size: 28 !important;
}

.single-user-info-wrapper {
  display: flex;
}

.single-user-info-box {
  display: grid;
  margin-top: 5rem;
}
