.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 10rem;
  width: 100%;
}

.pagination-arrow {
  width: 36px;
  height: 36px;
  background-image: url("./arrow.png");
}

.pagination-pair-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pagination-line {
  display: flex;
  justify-content: flex-end;
}

.pagination-line-with-search {
  display: flex;
  justify-content: space-between;
}
