.users-box {
  width: 20vw;
  height: 20vh;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#users-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.users-avatar {
  width: 80%;
  height: 60%;
}

.users-name {
  font-size: 22;
}
